<h1>Consultation#consultation_mailer</h1>
<%= @user.email %> created new consultation named: <%= @consultation.title %>


 <%# <%= @greeting, find me in app/views/consultation_mailer/consultation_mailer.html.erb %>  
